*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-field{
    display: inline-block !important;
    width: 500px !important;
}

.banner{
    height: 70vh;
    width: 100%;
}
.banner2{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://i.ibb.co/LpCxsgx/Rectangle-13.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-size: cover;
    flex-direction: column;
}